h3 {
  margin: 0;
}

.form {
  margin-top: 1rem;
}

.mat-form-field {
  margin-right: 1rem;
}

.large-input {
  width: 400px;
}

.placement {
  margin-top: 1rem;
}

.mat-card-actions > :first-child {
  margin-right: 1rem;
}
