<div class="app mat-typography">
  <nav>
    <app-navbar
      [isAuthenticated$]="authService.isLoggedIn$"
      [user]="user"
      (logout)="logout()"
    ></app-navbar>
  </nav>
  <mat-sidenav-container>
    <mat-sidenav
      opened="true"
      mode="side"
      #sidenav
      [fixedInViewport]="true"
      [fixedTopGap]="64"
    >
      <app-sidenav-content></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
