<mat-toolbar color="primary">
  <a
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img src="./assets/images/logo.jpg" alt="logo" class="logo" />
  </a>
  <span style="flex: 1 0 auto"></span>
  <img
    [src]="user?.picture | authImage | async"
    alt="profile picture"
    class="profile-picture"
    *ngIf="isAuthenticated$ | async"
    [matMenuTriggerFor]="profileMenu"
  />
  <login-button *ngIf="!(isAuthenticated$ | async)"></login-button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item [routerLink]="['/', 'users', 'profile', user?._id]">
      Profile
    </button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<ng-template #authNotAuthenticated>
  <login-button></login-button>
  <signup-button></signup-button>
</ng-template>
