<h1>Profile</h1>
<div class="container" *ngIf="user">
  <div class="profile-card">
    <mat-card>
      <mat-card-header>
        <img
          [ngStyle]="{ visibility: isPictureLoading ? 'hidden' : '' }"
          mat-card-avatar
          [src]="user.picture | authImage | async"
          [alt]="user.fullName"
          (load)="isPictureLoading = false"
        />
        <img
          [ngStyle]="{ visibility: !isPictureLoading ? 'hidden' : '' }"
          style="position: absolute"
          mat-card-avatar
          src="assets/images/blank-avatar.png"
        />
        <mat-card-title>{{ user.fullName }}</mat-card-title>
        <mat-card-subtitle>{{ user.jobTitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>Details</h2>
        <p><strong>Manager: </strong>{{ user.manager.fullName }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Access Level:</strong> {{ roles | titlecase }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button [matMenuTriggerFor]="updateMenu">
          Update
        </button>
        <mat-menu #updateMenu="matMenu">
          <button mat-menu-item (click)="updatePassword()">Password</button>
          <button mat-menu-item (click)="updateProfilePicture()">
            Profile Picture
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
